/* GLOBAL */

/* variables */
:root {
    --light-dark : #051026;
    --blue-dark: #061531;
    --light-blue-dark: #030a17;
    --black: #000;
    --grey : #959595;
    --very-light-grey: #eeecec;
    --white: #fff;
    --light-white: #fafafa;
    --red: #e71c4c;

    --light-grey-bg-color: var(--very-light-grey);
    --white-bg-color: var(--light-white);
    --dark-bg-color: var(--light-blue-dark);

    --section-light-bg-title-color: #05172c;
    --section-light-bg-title-bar-color: var(--light-dark);

    --dark-card-bg-color: var(--light-blue-dark);
    --dark-card-text-color: var(--light-white);
    --dark-card-name-color: var(--white);

    --light-card-bg-color: var(--white);
    --light-card-text-color: var(--grey);
    --light-card-name-color: var(--light-dark);

    --active-slider-selector: var(--blue-dark);
    --inactive-slider-selecter: var(--white);

    --brands-names-color: #707070;

    --border-radius-cards: 0.5em;
}

/* reset */
html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;

    background-color: var(--light-grey-bg-color);
}

ul {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
}

button {
    border-style: none;
}

/* global classes */

/* HEADER */

header {
    display: flex;
    align-items: center;
}

/* logo */

/* nav menu */

#nav-menu {
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-menu-list {
    justify-content: space-between;
    align-items: center;
}

.nave-menu-items {
    margin: 0 1.5em;
}

/* top fixed menu */

#top-fixed-menu {
    position: fixed;
    top: 0;
    right: 0;
}

/* MAIN */

section {
    display: flex;
    flex-direction: column;

    padding: 1em;
}

/* slides selector carousel */

.slides-selectors-carousel {
    width: 15%;
    height: 0.5em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide-btn {
    width: 30%;
    height: 0.5em;

    border-radius: var(--border-radius-cards);

    background-color: var(--inactive-slider-selecter);
}

.slide-btn.active {
    background-color: var(--active-slider-selector);
}


/* section-title */
.title-bar {
    width: 5em;
    height: 2em;

    color: #051026;
}

.section-title {
    text-transform: uppercase;

}

/* section items slide */

/* section the most popular */

/* section featured news */

/* section popular brands */

/* section our reviews */

#our-reviews-content {
    display: flex;
    justify-content: space-between;
}

.reviews-card {
    width: 22vw;
    height: 60vh;

    display: flex;
    flex-direction: column;

    border-radius: 0.5em;

    background-color: var(--light-card-bg-color);
}

.card-content {
    width: 100%;

}

.review-content {
    margin: 1em 1em auto;
}

.reviews-card:first-child {
    background-color: var(--dark-card-bg-color);
}

.reviews-card:first-child .review-content{
    color: var(--dark-card-text-color);
}

/* FOOTER */